@import './font.css';

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: #c45f00;
  background-color: #7765d0;
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  display: flex;
  background-color: #ffffff;
  color: rgb(206, 94, 94);
  position: fixed;
  width: 100%;
  height: 15%;
}

.logo {
  justify-content: left;
  width: 30%;
}

.Title{
  justify-content: center;
  font-family: "Sunrise", sans-serif;
  font-size: xx-large;
  padding: 20px
}
.mountain-photo {
  max-width: 100%;
}

.Introduction {
  text-align: left;
  flex: 1;
  overflow-y: auto; 
  padding: 20px;
}

.Resoling {
  text-align: left;
  flex: 1;
  overflow-y: auto; 
  padding: 20px;
}

.Image
{
  justify-content: right;
  overflow-y: auto;
}

.Upload {
  text-align: center;
  color: #c45f00;
  flex: 1;
  overflow-y: auto; 
  padding: 20px;
}

.Upload button, .ConfirmUpload button { /* format buttons the same way */
  background-color: #c45f00;
  margin-left: auto;
  font-family: Arial, sans-serif;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Footer {
  background-color: #c45f00;
  color: white;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fefefe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/